{% extends 'entities/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>View and Send QuestionSets</h1>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Channel(s)</th>
                <th>Number of Questions</th>
                <th>Actions</th>
            </tr>
            {% for qs in question_sets %}
            <tr>
                <td>{{ qs.name }}</td>
                <td>
                    {% for c in qs.channel.all %}
                    {{ c }}<br>
                    {% endfor %}
                </td>
                <td>{{ qs.questions.all|length }}</td>
                <td>
                    <a class="btn btn-sm btn-warning {% if qs.was_send %}disabled{% endif %}" href="{% url 'send.question' qs.id %}">Send</a>
                    <a class="btn btn-sm btn-success {% if not qs.was_send %}disabled{% endif %}" href="{% url 'report.questions' qs.id %}">View Report</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}